<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booker</title>
</head>
<body>
    

  <div class="container">
        <div class="content-box">
            <h1>FlightBooker: Your Trusted Partner for Hassle-Free Travel</h1>
            <p>FlightBooker is a digital platform dedicated to providing reliable and flexible travel solutions. 
               Enjoy a variety of flight services tailored for your convenience.</p>
        </div>
    </div>

</body>
</html>